NEXT_PUBLIC_SUPABASE_URL=https://sgtsjocdrzjvphdrtpak.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_VMcmaXZEr3pEdUhwXA_1MA_RItLgWgG
SUPABSE_SERVICE_ROLE_KEY=your-supabase-service-role-key
API_SECRET_KEY=api-secret-key-for-api-endpoints
